@import "tailwindcss";

html, body {
  background: linear-gradient(180deg, #fff0f6 0%, #ffffff 100%);
  color: #333; /* Màu chữ tối để dễ đọc */
  font-family: 'Inter', sans-serif;
  min-height: 100%;
  margin: 0;
}

/* Các thành phần cụ thể */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}